@font-face {
  font-family: "Merriweather";
  src: url("./Merriweather-Light.ttf") format("truetype");
  font-weight: light;
}

@font-face {
  font-family: "Merriweather";
  src: url("./Merriweather-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("./Merriweather-Bold.ttf") format("truetype");
  font-weight: bold;
}

* {
  font-family: "Merriweather";
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #fdebe4;
  color: #4a553f;
  z-index: -3;
  height: 100%;
}

hr {
  border-top: 1px solid #fdebe4;
}

#content {
  z-index: -2;
  height: 100%;
}

.nav {
  font-size: 18px;
  margin-left: 100px;
}

.vegan-restaurant {
  display: inline-block;
  font-size: 12px;
}

.spicy {
  font-size: 45px;
  margin-right: 15px;
  font-weight: bold;
}

.links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}

header {
  padding: 15px 300px;
  width: 100%;
}

h1 {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin: 130px 0px;
  font-weight: bold;
}

.home-image {
  width: 800px;
  height: 450px;
  object-fit: cover;
}

.home-text-container {
  background-color: #ffb5b5;
  width: 1300px;
  height: 450px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

.home-menu {
  text-align: right;
  margin: 40px 300px;
}

.home-text {
  text-align: right;
  margin: 20px 300px;
  font-size: 25px;
  line-height: 50px;
}

h2 {
  text-align: center;
  margin: 120px 0px;
}

.menu {
  display: flex;
  height: 100%;
}

h3 {
  text-align: left;
  margin: 35px 0px;
}

.menuP {
  line-height: 30px;
  margin-bottom: 35px;
}

.menudiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-menu {
  width: 700px;
  height: 100%;
  flex: 1;
}

.main-menu {
  width: 700px;
  margin: 0px 100px;
}

.menu-image {
  width: 400px;
  height: 1000px;
  object-fit: cover;
  position: absolute;
}

#menu-image1 {
  left: 0px;
  top: 400px;
}

#menu-image2 {
  right: 0px;
  top: 1100px;
}

#menu-image3 {
  left: 0px;
  top: 1700px;
}

#addres {
  width: 800px;
  margin: 100px auto;
}

.hours-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #4a553f;
  width: 400px;
  height: 400px;
  padding: 50px;
}

.hours {
  color: #fdebe4;
  margin: 0px;
  text-align: left;
}

.hours-p {
  font-size: 25px;
  color: #fdebe4;
}

.hours-form-container {
  display: flex;
  justify-content: space-around;
  padding: 0px 300px;
}

.form-input {
  background-color: #ffb5b5;
  border: none;
  border-bottom: 1px solid#4a553f;
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  height: 400px;
  margin-left: 60px;
}

#your-message {
  height: 150px;
  text-align: start;
  resize: none;
}

button {
  background-color: #4a553f;
  color: #fdebe4;
  font-size: 25px;
  height: 50px;
  border: none;
}
